<%-include('Partials/Head.ejs')%>
<body>
    <%-include('Partials/Navbar.ejs')%>
    <%-include('Partials/carousel.ejs')%>
    <!--Maxime corporis possimus cupiditate neque ea inventore veritatis eaque. Incidunt harum facilis voluptas magnam dolore! Est, corrupti cupiditate inventore animi, iste sunt dolor asperiores eveniet nisi ab necessitatibus consequatur placeat.
    Explicabo magni minima ullam. Delectus nostrum molestiae deleniti, mollitia obcaecati enim dolorem, nulla blanditiis aliquid alias, quam provident tempora! Debitis id rerum ut vero, doloremque harum libero explicabo. Possimus, et!
    Aperiam quidem dolor nulla? Deleniti pariatur dicta reprehenderit culpa similique quam cumque reiciendis vel recusandae aliquid, explicabo repudiandae, eius error sit soluta maxime! Similique consequatur deleniti atque blanditiis deserunt nostrum.
    Consequuntur iusto mollitia amet minima explicabo molestias voluptate inventore cumque quasi quas! Fugiat cum voluptates soluta, corrupti ut corporis. Est ullam eveniet corrupti, quos temporibus ad quidem dicta? Aut, labore.
    Perspiciatis id similique quaerat odio nisi voluptatibus placeat, maxime earum fugit, nulla debitis obcaecati quod doloribus quibusdam vitae voluptate, sequi impedit expedita neque inventore? Fuga ipsa quaerat sit accusantium corporis.
    Suscipit iusto voluptas ducimus ratione consectetur minima, nesciunt distinctio corrupti voluptatum! Iste autem alias sunt et tempora at sequi officia, inventore reiciendis unde rerum aperiam ducimus perferendis, quis voluptatum natus!
    Culpa voluptatem rem aliquid? Eaque, ducimus. Animi cumque numquam deserunt expedita minus similique, enim ipsum aliquid modi, voluptatum autem. Aliquam mollitia facere animi eos quod officia, cumque atque ducimus quos? -->
    <%for(let i=0;i<5;i++){%>
    <div class="border-2 border-gray-400 bg-white shadow-md mx-40 my-20 p-3 grid grid-rows-4">
        <!-- <div class="grid row-span-1 p-1"><img src="img5.jpg" alt="image" class="w-28"></div> -->
        <div class="grid row-span-1 font-bold text-3xl text-gray-500">Title</div>
        <div class="grid row-span-2 font-semibold text-lg text-blue-400">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum dolor mollitia odio repudiandae cum non itaque, enim
        aspernatur architecto adipisci. Repellat quibusdam labore quam fugiat accusantium. Numquam quae voluptate dolores!
        Facere illum in non commodi molestiae officia nostrum libero placeat doloremque, accusantium sit sed fugiat quisquam
        deleniti maxime minima distinctio cupiditate quae consectetur nulla itaque praesentium totam? Rerum, libero alias.
        Tenetur amet dolor hic quidem minus ea aperiam.</div>
        <div class="grid row-span-1 font-semibold text-md text-gray-500 "><span class="py-0.5">Time and Date</span><br><span class="py-0.5">Author's Name</span></div>
    </div>
    <%}%>
    <%-include('Partials/footer.ejs')%>
</body>
</html>