<footer class="bg-gray-300">
    <div class="text-black flex flex-col mx-auto">
        <section class="text-white bg-gray-700 grid grid-cols-3 px-10 py-6 ">
            <div class="col-span-2">
                <div class="font-bold text-xl mb-4">
                    Cypher's Cache
                </div>
                <div class="text-sm font-semibold">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa temporibus, ducimus maiores perspiciatis
                    sapiente voluptas repudiandae sunt. Autem, accusantium, odio eos itaque exercitationem ullam aliquam natus
                    quasi beatae, sit cumque.
                    Veniam eligendi cumque voluptatem esse perferendis, laudantium labore placeat libero saepe odio quas rem
                    earum praesentium vel voluptas nam? Laborum nesciunt iusto provident quisquam deleniti! Expedita nulla est
                    deleniti minus.
                </div>
            </div>
            <div class="text-right">
                <div class="text-white font-bold">
                    <p class="text-xl">Links</p>
                    <div class="flex flex-col mt-4">
                        <a href="/" class="hover:text-blue-400">Home</a>
                        <a href="/blog" class="hover:text-blue-400">Blog</a>
                        <a href="/about" class="hover:text-blue-400">About</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="flex justify-between px-4 py-6 mx-6">
            <div class="font-bold text-xl">Get Connected to us</div>
            <div class="flex">
                <img src="github.jpg" alt="github" class="m-1 w-6">
                <img src="facebook.jpg" alt="github" class="m-1 w-6">
                <img src="linkedin.jpg" alt="github" class="m-1 w-6">
                <img src="instagram.jpg" alt="github" class="m-1 w-6">
            </div>
        </section>

    </div>
</footer>
