<!--Navbar-->
<nav class="bg-white mx-auto">
    <div class="grid grid-cols-6">
        <div class="grid col-span-2">
            <a href="/"><img src="logo.jpg" alt="logo" class="w-24"></a>
        </div>
        <div class="hidden md:grid col-span-2 max-w-screen-sm my-10 ">
            <div class="flex space-x-3 justify-center">
                <a href="/" class="font-semibold text-base text-gray-400 hover:text-blue-500">Home</a>
                <a href="/about" class="text-base font-semibold text-gray-400 hover:text-blue-500">About</a>
                <a href="/blog" class="text-base font-semibold text-gray-400 hover:text-blue-500">Blog</a>
            </div>
        </div>
        <div class="hidden md:grid col-span-2 my-10">
            <div class="flex space-x-6 justify-end">
                <a href="/login" class="font-semibold bg-gray-400 px-4 text-black hover:text-blue-600 ">Login</a>
                <a href="/register" class="font-semibold bg-gray-400 px-4 text-black hover:text-blue-600">Register</a>
            </div>
            <div class="md:hidden flex items-center" id="burger">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
<!--Mobile Menu-->
    <div class="hidden md:hidden" id="mobile-menu">
        <div class="flex flex-col mx-auto">
        <a href="/" class="hover:text-gray-900">Home</a>
        <a href="/blog" class="hover:text-gray-900">Blog</a>
        <a href="/about" class="hover:text-gray-900">About</a>
        <a href="/login" class="inline-block p-4 m-4 font-semibold bg-gray-400 px-4 text-black hover:text-blue-600">Login</a>
        <a href="/register" class="inline-block p-4 mx-4 bg- bg-gray-400 px-4 text-black hover:text-blue-600">Sign-Up</a>
        </div>
    </div>
</nav>
<script>
    const burger = document.querySelector("#burger");
    const menu = document.querySelector("#mobile-menu");
    burger.addEventListener("click", () => {
        menu.classList.toggle("hidden");
    });
</script>